.container
  width: 100%
  height: 100%
  padding: 0
  .box
    background: #FFF none repeat scroll 0% 0%
    overflow: hidden
    width: 100%
    height: 100%
    .logo
      width: 100%
      img
        height: auto
        width: 100%
    .form
      background-color: rgba(255,255,255,0.92)
      width: 40%
      height: 100%
      padding: 50px
      display: flex
      align-items: center
      position: absolute
      right: 0
      top: 0
      form
        max-width: 500px
        h4
          color: $gray-dark
          font-size: 1.7em
        label
          width: 100%
          margin-top: 10px
          color: $gray-dark
        input[type="text"]
          width: 100%
        button
          position: relative
          bottom: -48px
        .remember_password
          a
            color: $orange-primary


/* responsive (media querys) */

@media(max-width: 1280px)
  .container
    .box
      .logo
        img
          height: 100%
          width: auto


@media(max-width: 991px)
  .container
    .box
      .form
        width: 50%


@media(max-width: 768px)
  .container
    .box
      .form
        width: 70%


@media(max-width: 450px)
  .container
    .box
      .logo
        height: auto
        width: 100%
      .form
        width: 100%
        height: auto
        bottom: 0
        background-color: rgba(255,255,255,0.82)