#Copy this file to application_config.yml
#Configure here all the variables of your CAS server instance.

#IMPORTANT: don't use http or https before the URLs, it is automatically added

development:
  moodle_url: "moodle.vishub.org"
  sitename: "EducaInternet"
  vish_url: "localhost:3000"
