<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--logo-->
      <div class="logo-header">
        <%= link_to(image_tag('vish/brand.svg', :alt => t('site.name')), '/', :class => "logo"); %>
      </div>
    <div class="" id="nav-collapse-out">
      <ul class="btn-toolbar nav">
          <li class="btn-group">
            <a type="button" class="btn btn-default" href="<%=CASinoApp::Application.config.APP_CONFIG["vish_url"]%>/users/sign_up">
              <%=t("sign_up")%>
            </a>
          </li>
          <li class="btn-group">
            <a type="button" id="drop3" class="btn btn-primary" href="/cas/cas/login"><%=t("sign_in")%></a>
          </li>
      </ul>
    </div>
  </div>
</nav>
