<ul class="nav navbar-nav mobile-nav">
  <!--login-->

      <li class="btn-group">
          <i class="fa fa-signin"></i>
          <a type="button" id="drop3" class="btn btn-primary" href="/login">
            <%=t("sign_in")%>
          </a>
      </li>

  <!--sign_up-->
    <li class="sign_up_mobile">
      <a href="http://vishub.org/users/sign_up"class="signin">
        <i class="fa fa-edit-sign"></i>
        <%=t("sign_up")%>
      </a>
    </li>



  <!--legal_notice-->
  <li>
    <a href="/legal_notice">
      <i class="fa fa-legal"></i>
      <%= t('conditions.other') %>
    </a>
  </li>

  <!--manual-->
  <li>
    <a href="/help">
      <i class="fa fa-question-circle"> </i> <%=t('help_page')%>
    </a>
  </li>
</ul>
